$primary-color : #120907;
$secondary-color : #21243d;
$tertiary-color : #585b8d;

@mixin align {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navBar{
    
    height: 50px;
    @include align;
    background-color: $primary-color;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 15px;
    cursor: pointer; 
    

    .left{
        @include align;
        flex: 2;
        border-color: rgb(252, 186, 186);
        margin-right: 30px;

        .navItem{
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }

    .center{
        flex: 1;
        display: flex;
        gap: 5px;
        justify-content: flex-end;

        #search{
            background: linear-gradient(to right, white, transparent);
            border-radius: 20px;
            box-shadow: 10px 10px 5px 0px #000000;
            padding: 2px 10px;
            border: none;
        }
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        border-color: rgb(252, 186, 186);
        
        .rightItem{
            height: 2rem;
            width: 2rem;
            color: $primary-color;
            background-color: white; 
            padding: 2px;
            border-radius: 50%;
            margin-right: 4px;
            cursor: pointer;
        }

        .cartIcon{
            display: flex;align-items: center;
            justify-content: center;
            position: relative;

            .cartNumber{
                position: absolute;
                background-color: #fff;
                color: #000;
                top: -5px;
                right: -10px;
                padding: 5px 5px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                @include align();
            }
        }
    }
}